
// common
$raspi-main-blue: #084C61;
$raspi-main-red: #DB504A;
$raspi-main-yellow: #E3B505;
$raspi-main-grey: #4F6D7A;
$raspi-main-green: #56A3A6;
$raspi-font-color-menu: #4F6D7A;
$raspi-font-family: Roboto,"Helvetica Neue", sans-serif;


