<div class="flex-container" fxLayout="column" fxFill>
  <div class="flex-item" *ngIf="!showNewForm" >
    <md-icon class="app-device-index-icon" (click)="addDevice()" mdTooltip="{{msgAddDevice}}" [mdTooltipPosition]="position">add_circle_outline</md-icon>
  </div>
  <div class="flex-item app-device-index" *appVisibility="showNewForm">
    <app-add-device-index (onCancelButtonClicked)="cancelNewDevice()" (onNewDeviceAdded)="newDeviceAdded()"></app-add-device-index>
  </div>
  <div class="flex-item" *appVisibility="hasDevices()">
    <div class="flex-container" fxLayout="column" fxFill>
      <div class="flex-item" *ngFor="let device of getDevices()">
        {{ device.name }}
      </div>
    </div>
  </div>
</div>
