<div class="flex-container" fxLayout="column">
  <h2>{{ formTitle }}</h2>
  <div class="flex-item" fxLayout="column">
    <label for="name">{{ lblName }}:</label>
    <input type="text" id="name" [(ngModel)]="device.name">
  </div>
  <div div class="flex-item" fxLayout="row">
    <div class="flex-item" fxLayout="column" fxFlex="80%">
      <label for="ip">{{ lblIP }}:</label>
      <input type="text" id="ip" [(ngModel)]="device.ipAddress">
    </div>
    <div class="flex-item" fxLayout="column" fxFlex="20%">
      <label for="port" [ngStyle]="{'margin-left.px': 10}">{{ lblPort }}:</label>
      <input [ngStyle]="{'margin-left.px': 10}" type="text" id="port" [(ngModel)]="device.port">
    </div>
  </div>
  <div *ngIf="!testing" class="flex-item" fxLayout="row">
    <button md-raised-button (click)="cancel()">{{ btnCancel }}</button>
    <button [ngStyle]="{'margin-left.px': 10}" md-raised-button (click)="test()">{{ btnTest }}</button>
  </div>
  <div *ngIf="testing" class="flex-item" fxLayout="column">
    <div>{{ msgTesting }}</div>
    <md-progress-bar mode="indeterminate" color="accent"></md-progress-bar>
  </div>
  <div *ngIf="testingError" class="flex-item" fxLayout="column">
    <div>{{ msgTestingFailed }}</div>
  </div>
</div>
