<div class="flex-container app-device-item-container" fxLayout="column" fxFill>
  <div fxFill fxLayoutAlign="end stretch" fxLayout="row">
    <md-icon class="app-device-item-refresh-icon" (click)="refreshDevice()" mdTooltip="{{ getRefreshDeviceMessage() }}">refresh</md-icon>
    <md-icon class="app-device-item-remove-icon" (click)="removeDevice()" mdTooltip="{{ getRemoveDeviceMessage() }}">remove</md-icon>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="app-device-item-entry">
      <md-icon (click)="connectToDevice()" [ngClass]="getIconClass()">{{ getIcon() }}</md-icon>
    </div>
    <div class="app-device-item-entry">{{ item.name }}</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="app-device-item-detail">
      {{  getDeviceAvailableMessage() }}
    </div>
    <div class="app-device-item-detail">
      {{ getDeviceIpMessage() }}
    </div>
    <div class="app-device-item-detail">
      {{ getDevicePortMessage() }}
    </div>
  </div>
</div>
