@import "../../../assets/style/global.scss";

.app-toolbar {
  background-color: $raspi-medium-yellow;
}

.app-toolbar-icon {
  margin-right: 15px;
  color: $raspi-font-color-menu;
  font-size: 25px;
  cursor: pointer;
}
