@import "../../../assets/style/global.scss";

.app-sidenav-header {
  height: 180px;
  width: 300px;
  margin-bottom: 20px;
  background: $raspi-main-blue url(../../../assets/images/profile-header.png);
  opacity: 0.4;
  font-family: $raspi-font-family;
  border-bottom: solid;
    .text {
      font-size: smaller;
      margin-right: 25px;
     }
}

.app-sidenav-header-icon {
  margin-right: 10px;
  margin-left: auto;
  font-size: 28px;
  cursor: pointer;
}
