@import "../../../assets/style/global.scss";

.app-toolbar {
  background-color: $raspi-main-blue;
}

.app-toolbar-icon {
  margin-right: 15px;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
