<div class="flex-container app-sidenav-header" fxFlex="100%" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="flex-item app-sidenav-header-icon" fxFlex="16%" fxLayoutAlign="center end">
    <md-icon (click)="clickSidebarIcon()">close</md-icon>
  </div>
  <div class="flex-item text" fxFlex="16%" fxLayoutAlign="center center">
    <p>Your Raspberry</p>
  </div>
  <div class="flex-item text" fxFlex="16%" fxLayoutAlign="center center">
    <p>is running @</p>
  </div>
  <div class="flex-item text" fxFlex="16%" fxLayoutAlign="center center">
    <p>192.168.6.142</p>
  </div>
</div>
