@import "../../../../assets/style/global";

.app-simple-card {
  margin: 5px;
  padding: 4px;
}

.app-simple-card-header {
  background-color: $raspi-medium-yellow;
  padding: 5px;
  padding-bottom: 0;
  color: $raspi-card-font-color;
}

.app-simple-card-subtitle {
  padding: 5px;
  padding-bottom: 0;
  font-weight: bold;
  color: $raspi-card-font-color;
}

.app-simple-card-header-icon {
  font-size: 28px;
  cursor: pointer;
}
