@import "../../../../assets/style/global";

.app-simple-card {
  margin: 5px;
  padding: 0px;
}

.app-simple-card-header {
  background-color: $raspi-medium-orange;
  padding: 5px;
}

.app-simple-card-subtitle {
  padding: 5px;
  font-weight: bold;
}

.app-simple-card-header-icon {
  font-size: 28px;
  cursor: pointer;
}
