<md-card class="flex-container app-simple-card" fxLayout="column">
  <md-card-title class="flex-item app-simple-card-header" *ngIf="hasTitle()" fxLayoutAlign="start stretch">
    <div class="flex-container" fxLayout="row" fxLayoutAlign="space-between stretch" fxFill>
      <span class="flex-item" fxLayoutAlign="start start" fxFlex="90%">{{ getTitle() }}</span>
      <span class="flex-item" fxLayoutAlign="end start" fxFlex>
        <md-icon class="app-simple-card-header-icon" (click)="toggle()">{{ toggleIcon }}</md-icon>
      </span>
    </div>
  </md-card-title>
  <md-card-title class="flex-item app-simple-card-header" *ngIf="!hasTitle()" fxLayoutAlign="start stretch">
    <div class="flex-container" fxLayout="row" fxFill>
      <span class="flex-item" fxLayoutAlign="end start" fxFlex>
        <md-icon class="app-simple-card-header-icon" (click)="toggle()">{{ toggleIcon }}</md-icon>
      </span>
    </div>
  </md-card-title>
  <md-card-subtitle class="flex-item app-simple-card-subtitle" *ngIf="hasSubtitle()" fxLayoutAlign="start stretch">{{ getSubtitle() }}</md-card-subtitle>
  <md-card-content class="flex-item" *appVisibility="showContent" fxLayoutAlign="start stretch">
    <div class="flex-container"  fxFill>
      <ng-content></ng-content>
    </div>
  </md-card-content>
</md-card>
