<ng-container *ngIf="hasDevice()">
<md-sidenav-container ngif="hasDevice()" class="flex-container" fxLayout="column" fxFill>
  <md-sidenav #sidenav mode="side" class="app-sidenav flex-item" fxLayout="column">
    <app-main-sidenav></app-main-sidenav>
  </md-sidenav>
  <div class="flex-item" fxLayout="column" fxLayoutAlign="start stretch">
    <app-main-toolbar (onSideBarItemClicked)="sidenav.toggle()"></app-main-toolbar>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
</ng-container>

<ng-container *ngIf="!hasDevice()">
  <p>Testing no device</p>
</ng-container>
