@import "../../../../../assets/style/global";

.app-device-index-add {
  padding: 5px;
}

input {
  padding: 2px;
  margin-top: 4px;
  margin-bottom: 10px;
}

button {
  min-width: 140px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.app-device-index-add-testing {
  margin-top: 20px;
  margin-bottom: 20px;
}
