@import "../../../../../assets/style/global";

.app-device-index {
  margin: 5px;
  padding: 0px;
  padding-bottom: 20px;
}

.app-device-index-icon {
  font-size: 32px;
  color: green;
  cursor: pointer;
}
